body{
    background: url(fondoc.png);
}

header{
    background: #b6f5ff;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid#00c2df;
}

main{
    background: #b6f5ff;
    margin: 0 auto;
    padding: 10px;
}

header h1 {
    font-size:3vw;
    color: #000000;
    text-align: center;
}

#list{
    text-align: center;
}

nav {
    margin: 0 auto;
    align-items: center;
}
nav li {
    display: inline;
    padding: 10px;
    background: #ffffff4d;
    border-radius: 15%;
}

nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav li a:hover {
    color:#013838;
    text-decoration: underline;
    padding: 10px;
    border-radius: 15%;
    background: #bcbcbc;
}

main section{
    border-radius: 10px;
    background-color: rgb(148, 255, 218);
    padding: 10px;
    color: #FFF;
    clear: both;
    margin-bottom: 10px;
    border: 1px solid #FFF;
    margin: 0 auto;
}

section h2 {
    font-family: 'Bowlby One SC';
    color: rgb(1, 0, 44) ;
    font-size:3vw;
    line-height: .2vw;
    text-align: center;
    transition: color .25s linear;
}

body tr{
    background:#fffff8;
    margin: auto;
}

body td{
    border: 2px solid#000000;
    color: #000000;   
}
h2{
    color: #000000;
}
h4{
    color: #000000;
}

p{
    color: #000;
}

#info{
    padding: 300 px auto;
}

table{
    margin: 0 auto;
}

.boton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

ul{
    align-items: center;
    color: #000;
}

img{
    margin-top: 100px;
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login{
    margin-left: 10% auto;
    margin-right: 10% auto;
    padding: 50px;
    border-radius: 15px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#boton {
    display: flex;
    align-items: center;
}



#img_logo button {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#img_logo button img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

body input:hover{
    text-decoration-color: blueviolet;
}